DATABASE_URL="postgresql://USER@localhost:5432/david_portfolio?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-characters"
ADMIN_EMAIL="you@example.com"
ADMIN_PASSWORD="replace-with-at-least-12-characters"
